h1 {
    color:red;
  }
  
  
  canvas {
      border-style:ridge;
    border-width:10x;
    background-color:white;
   }
  
  body {
    background-color:#84FFFF;
  }
  button {
    background-color:green;
    color:white;
  }